{% extends 'base.html.twig' %}

{% block title %}Le Bônoit{% endblock %}

{% block stylesheets %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<header>
    <a href="#" class="logo"><span>L</span>e Bônoit</a>
    <div class="menuToggle" onclick="toggleMenu()"></div>
    <ul class="navbar">
        <li><a href="#banner" onclick="toggleMenu()"><span>A</span>ccueil</a></li>
        <li><a href="#about" onclick="toggleMenu()"><span>A</span>propos de nous</a></li>
        <li><a href="#room" onclick="toggleMenu()"><span>N</span>otre local</a></li>
        <li><a href="#card" onclick="toggleMenu()"><span>N</span>otre carte</a></li>
        <li><a href="#menu" onclick="toggleMenu()"><span>N</span>os spécialités</a></li>
        <li><a href="{{ path('avis') }}" onclick="toggleMenu()">Votre Avis</a></li>
        <li><a href="{{ path('contact_acces') }}" onclick="toggleMenu()"><span>C</span>ontact&Accès</a></li>
    </ul>
</header>

<main>
    <section class="banniere" id="banner">
        <div class="overlay"></div>
        <div class="contenu">
            <h2>La où chaque plat raconte une histoire d'Algérie!</h2>
            <p>
                Un restaurant qui se réfère à la cuisine de la ville d'Annaba, une
                ville côtière située dans le nord-est de l'Algérie. La cuisine annabie
                est riche en saveurs méditerranéennes et arabes, avec une forte
                influence de la mer.
            </p>
            <a href="#menu" class="custom-button btn1" id="Menu">Goûtez Annaba</a>
            <a href="#" class="custom-button book_button">Réservation</a>
        </div>
    </section>

    <section class="apropos" id="about">
        <div class="row">
            <div class="col50">
                <h2 class="titre-texte"><span>A</span> Propos de nous</h2>
                <p>
                    Bienvenue chez Le Bônoit, un coin de paradis culinaire où les saveurs authentiques d'Annaba prennent vie. Niché à Lyon, notre restaurant est une ode à la richesse gastronomique de cette magnifique région algérienne, connue pour sa cuisine riche et diversifiée, influencée par la Méditerranée et le patrimoine arabe.
                    Notre Histoire: Le Bônoit a été fondé par la famille Amairia Sabri et son épouse, qui lui a grandi dans les ruelles parfumées d'Annaba, bercés par les arômes de coriandre, de cumin et de poisson frais. Portant en lui l'amour de la cuisine de sa grand-mère, ils ont décidé de partager cette passion avec le monde en ouvrant les portes du Le Bônoit, un lieu où tradition et hospitalité annabie se rencontrent.
                    Notre Cuisine: Chaque plat que nous servons est préparé avec soin, utilisant des ingrédients frais et locaux pour recréer les saveurs authentiques de notre enfance. De la Chorba annabie, riche et réconfortante, aux délicieuses grillades de poisson fraîchement pêché, chaque bouchée est une célébration de notre héritage culinaire.
                    Notre Engagement: Chez Le Bônoit, nous nous engageons à offrir une expérience culinaire exceptionnelle dans un cadre chaleureux et accueillant. Nos clients sont invités à se détendre et à profiter d'un moment de partage autour de plats généreux, tout comme ils le feraient en famille.
                    Rejoignez-nous pour un voyage gustatif à Lyon, où chaque repas est une histoire d'amour, de culture et de pure gourmandise.
                </p>
            </div>
            <div class="col50">
                <div class="img">
                    <img src="{{ asset('assets/images/menu-item-image.jpg/nos entrees/bourek-annabi.jpg') }}" alt="Bourek Annabi">
                </div>
            </div>
        </div>
    </section>

    <section class="menu" id="menu">
        <div class="titre">
            <h2 class="titre-texte">Nos <span>S</span>pécialités</h2>
            <p>La mer, le soleil, et les saveurs d'Annaba.</p>
        </div>
        <div class="contenu">
            <a href="{{ path('app_menu_items_by_category', {'category': 'nos salades'}) }}" class="box" data-category="Salades">
                <div class="imbox">
                    <img src="{{ asset('assets/images/menu-item-image.jpg/nos salades/hmiss.jpeg') }}" alt="Salades">
                </div>
                <div class="text">
                    <h3>Nos Salades</h3>
                </div>
            </a>
            
            <a href="{{ path('app_menu_items_by_category', {'category': 'nos entrees'}) }}" class="box" data-category="Entrées">
                <div class="imbox">
                    <img src="{{ asset('assets/images/menu-item-image.jpg/nos entrees/bourek-annabi.jpg') }}" alt="Entrées">
                </div>
                <div class="text">
                    <h3>Nos Entrées</h3>
                </div>
            </a>

            <a href="{{ path('app_menu_items_by_category', {'category': 'nos soupes'}) }}" class="box" data-category="Soupes">
                <div class="imbox">
                    <img src="{{ asset('assets/images/menu-item-image.jpg/nos soupes/jeri.jpg') }}" alt="Soupes">
                </div>
                <div class="text">
                    <h3>Nos Soupes</h3>
                </div>
            </a>

            <a href="{{ path('app_menu_items_by_category', {'category': 'nos poissons'}) }}" class="box" data-category="Poissons">
                <div class="imbox">
                    <img src="{{ asset('assets/images/menu-item-image.jpg/nos poissons/bar-vapeur.jpg') }}" alt="Poissons">
                </div>
                <div class="text">
                    <h3>Nos Poissons</h3>
                </div>
            </a>

            <a href="{{ path('app_menu_items_by_category', {'category': 'nos pates'}) }}" class="box" data-category="Pâtes">
                <div class="imbox">
                    <img src="{{ asset('assets/images/menu-item-image.jpg/nos pates/cha5chou5a.jpg') }}" alt="Pâtes">
                </div>
                <div class="text">
                    <h3>Nos Pâtes</h3>
                </div>
            </a>

            <a href="{{ path('app_menu_items_by_category', {'category': 'nos couscous'}) }}" class="box" data-category="Couscous">
                <div class="imbox">
                    <img src="{{ asset('assets/images/menu-item-image.jpg/nos couscous/couscous.jpg') }}" alt="Couscous">
                </div>
                <div class="text">
                    <h3>Nos Couscous</h3>
                </div>
            </a>

            <a href="{{ path('app_menu_items_by_category', {'category': 'nos viandes'}) }}" class="box" data-category="Viandes">
                <div class="imbox">
                    <img src="{{ asset('assets/images/menu-item-image.jpg/nos viandes/Dolma.jpg') }}" alt="Viandes">
                </div>
                <div class="text">
                    <h3>Nos Viandes</h3>
                </div>
            </a>

            <a href="{{ path('app_menu_items_by_category', {'category': 'nos desserts'}) }}" class="box" data-category="Desserts">
                <div class="imbox">
                    <img src="{{ asset('assets/images/menu-item-image.jpg/nos desserts/dessert.jpg') }}" alt="Desserts">
                </div>
                <div class="text">
                    <h3>Nos Desserts</h3>
                </div>
            </a>
        </div>
    </section>
</main>
{% endblock %}
