{# templates/avis/index.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Le Bônoit - Votre Avis</title>
    </head>
    
    <header>
        <a href="{{ path('app_home_page') }}" class="logo"><span>L</span>e Bônoit</a>
        <div class="menuToggle" onclick="toggleMenu()"></div>
        <ul class="navbar">
            <li><a href="{{ path('app_home_page') }}" onclick="toggleMenu()">Accueil</a></li>
            <li><a href="#about" onclick="toggleMenu()">À Propos de Nous</a></li>
            <li><a href="#room" onclick="toggleMenu()">Notre Local</a></li>
            <li><a href="#card" onclick="toggleMenu()">Notre Carte</a></li>
            <li><a href="{{ path('avis') }}" onclick="toggleMenu()">Votre Avis</a></li>
        </ul>
    </header>
    
    <body>
        <section class="avis-form">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            
            <a href="{{ path('app_home_page') }}" class="button retour-button">Retour à l'accueil</a>
        </section>
    </body>
{% endblock %}
