{% extends 'base.html.twig' %}

{% block content %}
<div class="container--xxl py-5">
    <div class="container">
        <!-- Section Title -->
        <div class="text-center wow fadeInUp">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">
                Go청tez ANNABA
            </h5>
        </div>

        <!-- Tab Navigation -->
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom-0 mb-5">
                <!-- P창tes Tab -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center text-start mx-5 pb-3 active">
                        <i class="fa-solid fa-plate-wheat"></i>
                        <h6 class="mt-n2 mb-0">P창tes</h6>
                    </a>
                </li>
                <div class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('path/to/pates-image.jpg') }}" alt="P창tes">
                        </div>
                    </div>
                </div>

                <!-- Soupes Tab -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center text-start mx-5 pb-3">
                        <i class="fa-solid fa-bowl-hot"></i>
                        <h6 class="mt-n2 mb-0">Soupes</h6>
                    </a>
                </li>
                <div class="tab-pane fade p-0">
                    <div class="row g-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('path/to/soupes-image.jpg') }}" alt="Soupes">
                        </div>
                    </div>
                </div>

                <!-- Salades Tab -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center text-start mx-5 pb-3">
                        <i class="fa-solid fa-salad"></i>
                        <h6 class="mt-n2 mb-0">Salades</h6>
                    </a>
                </li>
                <div class="tab-pane fade p-0">
                    <div class="row g-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('path/to/salades-image.jpg') }}" alt="Salades">
                        </div>
                    </div>
                </div>

                <!-- Viandes Tab -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center text-start mx-5 pb-3">
                        <i class="fa-solid fa-meat"></i>
                        <h6 class="mt-n2 mb-0">Viandes</h6>
                    </a>
                </li>
                <div class="tab-pane fade p-0">
                    <div class="row g-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('path/to/viandes-image.jpg') }}" alt="Viandes">
                        </div>
                    </div>
                </div>

                <!-- Poissons Tab -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center text-start mx-5 pb-3">
                        <i class="fa-solid fa-fish-fins"></i>
                        <h6 class="mt-n2 mb-0">Poissons</h6>
                    </a>
                </li>
                <div class="tab-pane fade p-0">
                    <div class="row g-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('path/to/poissons-image.jpg') }}" alt="Poissons">
                        </div>
                    </div>
                </div>

                <!-- Desserts Tab -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center text-start mx-5 pb-3">
                        <i class="fa-solid fa-cupcake"></i>
                        <h6 class="mt-n2 mb-0">Desserts</h6>
                    </a>
                </li>
                <div class="tab-pane fade p-0">
                    <div class="row g-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('path/to/desserts-image.jpg') }}" alt="Desserts">
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
