{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}"> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="contact-form bg-dark text-white p-4 rounded">
                <h2>Contactez-nous</h2>
                {{ form_start(form) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Votre adresse email'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="map-container">
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>
</div>

<script>
    // Coordonnées pour 123 rue Ney, 69006 Lyon
    var latitude = 45.7617;
    var longitude = 4.8448;
    var zoomLevel = 15; // Niveau de zoom ajusté pour mieux voir l'adresse

    var map = L.map('map').setView([latitude, longitude], zoomLevel);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker = L.marker([latitude, longitude]).addTo(map);

    marker.bindPopup("<b>Nous sommes ici !</b><br>123 rue Ney, 69006 Lyon").openPopup();
</script>

<a href="{{ path('app_home_page') }}" class="button retour-button">Retour à l'accueil</a>
{% endblock %}
