<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <title>Le Bônoit</title>
</head>
<body>
    <header>
        {# <nav class="navbar">
            <ul>
                <li><a href="{{ path('about') }}">À Propos</a></li>
                <li><a href="{{ path('menu') }}">Menu</a></li>
                <li><a href="{{ path('location') }}">Notre Local</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a href="#" id="reservationButton" class="book-button">Réserver</a></li>
            </ul>
        </nav> #}
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <script src="{{ asset('assets/script.js') }}"></script>
</body>
</html>
